{%- assign mainMenu = linklists[section.settings.menu].links -%}
{%- assign jsLogo = settings.logo -%}

<!-- CSS link -->
{{ 'js-header.css' | asset_url | stylesheet_tag }}

<!-- GSAP file -->
<script src="{{ 'js-header-gsap.js' | asset_url }}" defer="defer"></script>

<header id="js-header">
  <div class="js-header-container">
    <div class="header-empty"></div>
    <div class="header-upper-nav">
      <a href="/search" class="upper-nav-field search-icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>
      <a href="/account" class="upper-nav-field account-icon">
        <i class="fa-solid fa-shirt"></i>
      </a>
      <a href="/cart" class="upper-nav-field cart-icon">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </div>
  </div>
  <a href="/index">
    {% if jsLogo != blank %}
      {{ jsLogo | image_url: width: 400 | image_tag: class: 'js-header-logo' }}
    {% else %}
      {% comment %} NAO ESQUECA DE SUBSTITUIR O TITULO <h1>{{ shop.name }}</h1> {% endcomment %}
      <h1>{{ shop.name }}</h1>
    {% endif %}
  </a>
  <nav>
    {% comment %}
      <ul class="header-nav-list">
        {% for link in mainMenu %}
          <li class="header-nav-item">
            <a href="{{ link.url }}" class="header-nav-link">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endcomment %}
    <ul class="header-nav-list">
      <li class="header-nav-opt">Clubs</li>
      <li class="header-nav-opt nav-active">Nationals</li>
      <li class="header-nav-opt">About Us</li>
      <li class="header-nav-opt">Services</li>
      <li class="header-nav-opt">Contact</li>
    </ul>
  </nav>
</header>

{% schema %}
{
  "name": "JS Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Jersey Soul Header"
    },
    {
      "type": "image_picker",
      "id": "jsLogo",
      "label": "Jersey Soul Logo"
    }
  ],
  "presets": [
    {
      "name": "Jersey Soul Header",
      "category": "Header",
      "blocks": [
        {
          "type": "_header-logo"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "_header-logo"
    }
  ]
}
{% endschema %}
