{%- assign jsLogo = settings.logo -%}

<!-- CSS link -->
{{ 'js-hero.css' | asset_url | stylesheet_tag }}

<!-- GSAP file -->
<script src="{{ 'js-hero-gsap.js' | asset_url }}" defer="defer"></script>

<section class="js-hero-section">
  <div id="heroshapes">
    <div class="shape" id="shape1">
      <img src="{{ 'h-argentino.png' | asset_url }}" class="heroimg">
    </div>
    <div class="shape" id="shape2">
      <img src="{{'h-mbappefr.png' | asset_url}}" class="heroimg">
    </div>
    <div class="shape" id="shape3">
      <img src="{{'lockup-trophy.png' | asset_url}}" class="heroimg">
    </div>
    <div class="shape" id="shape4">
      <img src="{{ 'h-estevaobr.png' | asset_url }}" class="heroimg">
    </div>
    <div class="shape" id="shape5">
      <img src="{{ 'h-davidca.png' | asset_url }}" class="heroimg">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "JS Hero Shapes",
  "max_blocks": 5,
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Backgorund Color"
      //"default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "shape",
      "name": "Shape Irregular",
      "settings": [
        {
          "type": "image_picker",
          "id": "shape_img",
          "label": "Shape Image"
        },
        {
          "type": "color",
          "id": "shape_bg",
          "label": "Shape Background Color",
          "default": "#cccccc"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "JS Hero Shapes",
      "blocks": [
        {
          "type": "shape"
        },
        {
          "type": "shape"
        },
        {
          "type": "shape"
        },
        {
          "type": "shape"
        },
        {
          "type": "shape"
        }
      ]
    }
  ]
}
{% endschema %}
